<div class="background">
    {% for bkg in site.bkg-content %}
        {% if bkg.empty %}
            <div snap="{{ bkg.name }}" class="gap" id="snap-{{ bkg.name }}" style="height: {{ bkg.gap }}"></div>
        {% else %}
            <div snap="{{ bkg.name }}" id="snap-{{ bkg.name }}">
                <div class="gap nav-spacer-top"></div>
                <div class="content-wrapper" id="content-{{ bkg.name }}">
                    {% for parallax in site.data.parallax %}
                        {% if parallax.name == bkg.name %}
                            {% assign side = parallax.type %}
                            {% break %}
                        {% endif %}
                    {% endfor %}
                    {% unless side %}
                        {% assign side = "left" %}
                    {% endunless %}
                    {% if bkg.name == "footer" %}
                        <div id="footer">
                            {{ bkg.content | markdownify }}
                        </div>
                    {% else %}
                        {% if side == "left" %}<div class="placeholder"></div>{% endif %}
                        <div class="content">
                            {% if bkg.header %}<h2>{{ bkg.header }}</h2>{% endif %}
                            <div class="swipe">
                                {% if bkg.text %}
                                    <div class="swipe-text">{{ bkg.content | markdownify }}</div>
                                {% else %}
                                    {{ bkg.content | markdownify }}
                                {% endif %}
                            </div>
                        </div>
                        {% if side == "right" %}<div class="placeholder"></div>{% endif %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
