{% for image in site.data.parallax %}
    <div class="foreground depth-{{ image.z }}">
            <div class="gap buffer" id="buffer-{{ image.src }}"></div>
            <div class="content-wrapper {{ image.type }}">
                <div class="foreground-image" id="img-{{ image.src }}">
                    {% if image.src == "mapbox" %}
                        {% include map.html %}
                    {% elsif image.src == "text"%}
                        <span class="hand stroke">We're getting married!</span>
                        <span class="hand gold fill">We're getting married!</span>
                    {% else %}
                        <img src="assets/images/{{ image.src }}.JPG">
                    {% endif %}
                </div>
            </div>
    </div>
{% endfor %}
