<form id="rsvp">

    <div id="form-wrapper" class="field-wrapper fieldset-hidden-in-the-html"">
        <p class="bridesmaid">Ready to RSVP?</p>
        <br/>
        <fieldset id="accept-field">
            <span>Hello, my name is&nbsp;</span><span id="name-sur" contenteditable="true" spellcheck="false" autocomplete="off" default="Your Name"></span><span>&nbsp;and I</span>
            <select id="accept-sur" class="smoke-bomb" autocomplete="off">
                <option selected="selected">am happy to accept</option>
                <option>regretfully decline</option>
            </select><span>&nbsp;the invitation.</span>
            <br/>
            <br/>
            <fieldset id="invitee-field">
                <span>I would like my entrée to be</span>
                <select id="entree-sur" autocomplete="off">
                    <option class="select-default" selected="selected">Entrée</option>
                    <option>Beef</option>
                    <option>Chicken</option>
                    <option>Fish</option>
                    <option>Vegetarian</option>
                </select><span>.</span>
                <br/>
                <br/>
                <span class="bridesmaid">Do you have any dietary restrictions?</span>
                <br/>
                <select id="diet-sur" autocomplete="off">
                    <option selected="selected">No</option>
                    <option>Yes</option>
                </select><span class="choice">.</span><span class="choice">, I need to avoid&nbsp;<span id="restrictions-sur" contenteditable="true" spellcheck="false" autocomplete="off" default="Dietary Restrictions"></span>.</span>
                <br/>
                <br/>
                <span class="bridesmaid">Planning on bringing anyone?</span>
                <br/>
                <select id="guest-sur" class="smoke-bomb" autocomplete="off">
                    <option selected="selected">No</option>
                    <option>Yes</option>
                </select><span class="choice">.</span><span class="choice">.<span class="bridesmaid">&nbsp;Awesome! Let's get their information too.</span></span>
                <br/>
                <br/>
                <fieldset id="guest-field" class="fieldset-hidden-in-the-html">
                    <span>My guest's name is&nbsp;</span><span id="guest-name-sur" contenteditable="true" spellcheck="false" autocomplete="off" default="Guest's Name"></span><span>&nbsp;and they would like</span>
                    <select id="guest-entree-sur" autocomplete="off">
                        <option class="select-default" selected="selected">Entrée</option>
                        <option>Beef</option>
                        <option>Chicken</option>
                        <option>Fish</option>
                        <option>Vegetarian</option>
                    </select><span>&nbsp;for dinner.</span>
                    <br/>
                    <br/>
                    <span class="bridesmaid">Do they have any dietary restrictions?</span>
                    <br/>
                    <select id="guest-diet-sur" autocomplete="off">
                        <option selected="selected">No</option>
                        <option>Yes</option>
                    </select><span class="choice">.</span><span class="choice">, they need to avoid&nbsp;<span id="guest-restrictions-sur" contenteditable="true" spellcheck="false" autocomplete="off" default="Diet Restrictions"></span>.</span>
                    <br/>
                    <br/>
                </fieldset>
                <span class="bridesmaid">Do you have a song suggestion?</span>
                <br/><span id="song-sur" contenteditable="true" spellcheck="false" autocomplete="off" default="Song by Artist"></span>
            </fieldset>
        </fieldset>
    </div>

    <div id="form-accept" class="field-wrapper">
        <h4>Thank you for responding!</h4>
        <p>We look forward to celebrating our special day with you!</p>
    </div>

    <div id="form-decline" class="field-wrapper">
        <h4>Thank you for responding!</h4>
        <p>Sorry you can't come, hopefully we see you soon!</p>
    </div>

    <div class="submit-button">
        <input id="submit-form" type="submit" value="&#9993; Send" autocomplete="none">
    </div>

    <div class="close-button">
        <a href="#" class="close"></a>
    </div>

    <div id="shadow-realm">
        <span id="__ch">0</span>
        <input id="name"                name="name" type="text" autocomplete="off" required>
        <input id="accept"                name="accept" type="text" autocomplete="off" required>
        <input id="entree"              name="entree" type="text" autocomplete="off" required>
        <input id="diet"                name="diet" type="text" autocomplete="off">
        <input id="restrictions"        name="restrictions" type="text" autocomplete="off" required>
        <input id="guest"               name="guest" type="text" autocomplete="off">
        <input id="guest-name"          name="guest_name" type="text" autocomplete="off" required>
        <input id="guest-entree"        name="guest_entree" type="text" autocomplete="off" required>
        <input id="guest-diet"          name="guest_diet" type="text" autocomplete="off">
        <input id="guest-restrictions"  name="guest_restrictions" type="text" autocomplete="off" required>
        <input id="song"                name="song" type="text" autocomplete="off">
    </div>

</form>
