<section id="navigation-bar" class="overlay slider">
    <h1>Anna & Daniel</h1>
    <nav id="link-bar">
        {% for item in site.data.navigation %}
            <div {% if item.link %}class="link" snap="{{ item.link }}"{% endif %}{% unless item.link %}id="rsvp-button"{% endunless %}>
                {% if item.link %}<img src="assets/images/{{ item.link }}.svg">{% endif %}
                <span id="link-{{ item.name | downcase }}">{{ item.name }}</span>
            </div>
        {% endfor %}
    </nav>
</section>
<section id="rsvp-pane" class="overlay slider">
    {% include form.html %}
</section>
