$col-form-bg: $col-anna;
$col-form: $bg1;
$col-form-input: $col-highlight;
$col-required: $col-dan;
//ed254e

#rsvp-pane {
    position: fixed;
    top: 0;
    left: 100vw;
    width: $pane-width;
    height: 100vh;
    background-color: $col-form-bg;
    color: $col-form;
    padding-top: $nav-height;
    padding-left: $outside-padding;
    padding-right: $outside-padding;
    overflow-y: auto;
}

%prevent-default {
    background-color: $col-form-bg;
    color: $col-form;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: $f-header;
    font-weight: 200;
    font-size: 1em;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

#rsvp {
    font-size: 1.25em;
    line-height: 1.5em;
    height: 100%;
    border-top: 1px solid $col-form-input;
    padding-top: $nav-gap;

    // Form elements
    // We are using select, input[submit], and span instead of input[text]

    select {
        @extend %prevent-default;
        color: $col-form-input;
        border-bottom: 1px solid $col-form-input;
        display: inline-block;
        text-align: center;
        text-align-last: center;

        option {
            width: max-content;
            padding: 0;
        }
    }

    span[contenteditable="true"]::before {
        content: "\feff";
    }

    span[contenteditable="true"] {
        @extend %prevent-default;
        display: inline;
        color: $col-form-input;
        border-bottom: 1px solid $col-form-input;
        min-height: 1.5em;
        //min-width: 3ch; //only works for inline-block, inline-flex; inline-flex has wierd cursor issue in FF
        vertical-align: top;
    }

    span[edited="false"], select[edited="false"] {
        color: rgba($col-form-input, 0.6);
    }

    .empty { // For the editable span above, needs to not disappear
        padding-right: 4ch !important; // this is not an ideal use of important!
    }

    .empty + span::before {
        content: "\00a0";
    }

    input[type="submit"] {
        font-family: $f-header;
        font-weight: 300;
        font-size: 0.75em;
        -moz-appearance: none;
        -webkit-appearance: none;
        border: 1px solid $col-form-input;
        background-color: $col-form-bg;
        color: $col-form;
        height: $nav-height/3;
        padding-left: 1em;
        padding-right: 1em;
        transition: background-color 0.3s;
        user-select: none;
        cursor: pointer;
        border-radius: 0.2em;
    }

    input[type="submit"]:hover {
        background-color: $col-form-input;
    }

    input[type="submit"]:active, .close:active {
        opacity: 0.6;
    }

    %required {
        color: $col-required;
        text-shadow: 0 0 4px;
    }

    .retry-message {
        @extend %required;
        font-size: 0.8em;
        margin-left: 1em;
        margin-right: 2*$outside-padding;
        padding-right: $nav-height/3;
        line-height: 1em;
    }

    span.required, select.required {
        @extend %required;
        border-color: $col-required;
    }

    input[type="submit"].required {
        border-color: $col-required;
    }

    input[type="submit"].required:hover {
        background-color: $col-required;
    }


}

.choice {
    display: inline-block;
    width: 0;
    line-height: 0;
    opacity: 0%;
    transition: none;
}

.chosen {
    display: inline;
    width: auto;
    line-height: inherit;
    position: relative;
    opacity: 100%;
    transition: opacity 0.3s;
}

fieldset {
    @extend %prevent-default;
    transition: opacity 0.3s;
    display: block;
    opacity: 100%;
}

.field-wrapper {
    transition: opacity 0.3s;
}

.fieldset-hidden-in-the-html {
    opacity: 0%;
    height: 0;
    visibility: hidden;
}

.fieldset-lurking {
    opacity: 0.6;
}

#shadow-realm {
    @extend %prevent-default;
    position: absolute;
    visibility: hidden;
    display: inline-block;
    top: 0;
    right: 0;

    input[type="text"] {
        display: block;
    }
}

%form-button {
    position: absolute;
    top: 0;
    height: $nav-height;
    display: flex;
    align-items: center;
}

.submit-button {
    @extend %form-button;
    left: $outside-padding;
}

.close-button {
    @extend %form-button;
    right: $outside-padding;
}

.close {
    font-size: 0.75em;
    -moz-appearance: none;
    -webkit-appearance: none;
    user-select: none;
    cursor: pointer;
    width: $nav-height/3;
    height: $nav-height/3;
}

.close::before, .close::after {
    position: absolute;
    content: ' ';
    background-color: $col-form-input;
    width: 0.1em;
    left: 1em - 0.05em;
    height: $nav-height/3;
    border-radius: 1px;
    transition: background-color 0.3s;
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

.close:hover::after, .close:hover::before {
    background-color: $col-form-input;
}
