$outside-padding: 3vw;
$nav-padding: 5vw;
$nav-height: 15vh;

* {
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
}

body {
    margin: 0;
    font-size: 2.5vh;
}

form {
    font-size: 2.5vh;
}

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h3, h4 {
    font-size: 1em;
}

.gap {
    width: 100%;
}

.nav-spacer {
    height: $nav-height;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateZ(0px);

    .content-wrapper {
        margin-left: $outside-padding;
        margin-right: $outside-padding;
        height: 100vh - $nav-height;
    }
}

.snap {
    scroll-snap-align: start;
}

.placeholder {
    flex-grow: 0;
}

.content {
    flex: 1 1 0;
    text-align: left;
    margin-left: $nav-padding - $outside-padding;
    margin-right: $nav-padding;

    h2 {
        @extend .anna;
        text-transform: uppercase;
        font-size: 1.5em;
        margin-bottom: 1em;
    }

    h3 {
        font-weight: 400;
        margin-top: 1em;
    }

    h3, h4, p {
        margin-bottom: 0.25em;
    }

    h4 {
        margin-top: 0.5em;
        margin-left: $nav-padding / 2;
    }

    h4 ~ p {
        margin-left: $nav-padding / 2;
    }
}

.placeholder + .content {
    margin-left: $nav-padding;
    margin-right: $nav-padding - $outside-padding;
}

.schedule {
    display: flex;
    margin-top: 1em;
}

.event-times {
    text-align: right;
    margin-right: 1em;
    color: #92374d;
}

#content-when {
    font-size: 3em;

    .placeholder {
        width: 30%;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2 {
        @extend .hand;
        @extend .scrawl-ccw;
        @extend .anna;
        text-transform: none;
        margin: 0;
    }

    h3 {
        @extend .hand;
        @extend .scrawl-ccw;
        @extend .bridesmaid;
        margin: 0;
    }
}

#content-hotel {

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .placeholder {
        width: 60%;
    }
}

#content-faq {

    .placeholder {
        width: 60vh;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

#content-footer {
    align-items: flex-end;
    margin: 0;
}

#footer {
    flex: 1 1 0;
    height: $nav-height;
    padding-left: $nav-padding;
    padding-right: $nav-padding;
    background-color: #222;
    box-shadow: inset 0 1vh 1vh #0004;
    color: $bg1;
    display: flex;
    align-items: center;

    ul {
        list-style: none;
        flex: 1 1 0;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    li {
        margin-bottom: 0.2em;
    }

    ul:first-child {
        text-align: left;
    }

    ul:last-child {
        text-align: right;
    }
}

#img-nwi {
    width: 75%;
}
