$base-size:         16px;
$outside-padding:   3vw;
$nav-padding:       5vw;
$nav-gap:           5vh;
$nav-height:        3*$nav-gap;
$nav-top-height:    2*$nav-gap;
$nav-bottom-height: 1.5*$nav-gap;
$min-width:         300px;
$footer-height:      2*$nav-gap;
$footer-height-bump: 3*$nav-gap;
$column-bleed:      $nav-padding;
$column-gap:        2*$nav-padding;
$column-width:      100vw - $column-gap - $column-bleed - $nav-padding;

* {
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
}

html {
    font-size: $base-size;
}

body {
    margin: 0;
    //font-size: $base-size;
    //font-size: 2.5vh;
    font-size: calc(100% + 2*(100vw - 400px)/880);
    height: 100vh;
}

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

h1 { // Only used for title
    font-size: 2em;
}

h2 { // Used for content headers
    font-size: 2.25em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-weight: 400;
    font-size: 1em;
}

.gap {
    width: 100%;
}

.nav-spacer-top {
    height: $nav-height;
}
//
// .nav-spacer-bottom {
//     display: none;
//     height: $nav-bottom-height;
// }

.background {
    /*position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateZ(0px);*/

    .content-wrapper {
        //margin-left: $outside-padding;
        //margin-right: $outside-padding;
        height: 100vh - $nav-height;
    }

    .content-wrapper:not(#content-footer) {
        padding-bottom: $nav-gap;
    }
}

.snap {
    scroll-snap-align: start;
}

// this class is used within .foreground and .background!
.content-wrapper {
    display: flex;
    flex-direction: row;
}

.placeholder {
    // margin-left: $outside-padding;
    // margin-right: $outside-padding;
    flex-grow: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.content, .swipe, .swipe-text {
    flex: 1 1 0;
}

.content {
    padding-left: $outside-padding;
    padding-right: $outside-padding;
    // padding-left: $nav-padding - $outside-padding;
    // padding-right: $outside-padding;
    overflow-y: hidden;
    overflow-x: visible;

    h2 {
        text-transform: capitalize;
        margin-bottom: 0.25em;
    }

    h3 {
        margin-bottom: 0.25em;
    }

    h4 {
        margin-bottom: 0.25em;
        color: $col-anna;
    }

    p {
        margin-bottom: 0.75em;
    }
}

// .placeholder + .content {
//     padding-left: $outside-padding;
//     padding-right: $nav-padding - $outside-padding;
// }

.swipe {
    overflow: hidden;
}

.swipe-text-shadow {
    visibility: hidden;
    position: absolute;
}

.swipe-text-shadow.snap::after {
    position: absolute;
    content: "";
    left: $column-width + $nav-padding;
    top: 0;
    scroll-snap-align: start;
}

.keep-together {
    display: inline-block;
}

.schedule {
    display: flex;
    color: $col-anna;
    font-weight: 300;
}

.event-times {
    text-align: right;
    margin-right: 1em;
}

.resize-animation-stopper {
    //transition-duration: 0s !important;
}

#parallax-container {
    position: relative;
    left: 0;
    top: 0;
    //bottom: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    //overscroll-behavior: none;
    perspective: 8px;
    perspective-origin: center;
    //perspective-origin: bottom right;
    scroll-snap-type: y mandatory;
}

#content-when {
    font-size: 2em;

    .placeholder {
        width: 30%;
    }

    .swipe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2 {
        @extend .hand;
        @extend .scrawl-ccw;
        color: $col-anna;
        text-transform: none;
        margin: 0;
    }

    h3 {
        @extend .hand;
        @extend .scrawl-ccw;
        color: $col-anna;
        margin: 0;
    }

    h4 {
        @extend .hand;
        @extend .scrawl-ccw;
        color: $col-highlight;
        margin-top: 0.5em;
    }
}

#content-hotel {

    .keep-together p {
            margin-bottom: 0.25em;
        }

    .placeholder {
        width: 50%;
    }

    h2 {
        @extend .hand;
        color: $col-anna;
    }
}

#content-faq {

    .placeholder {
        width: 30%;
    }

    h2 {
        @extend .hand;
        color: $col-anna;
    }
}

#content-footer {
    align-items: flex-end;
    margin-left: 0;
    margin-right: 0;

    ~.nav-spacer-bottom {
        background-color: $col-anna;
    }
}

#footer {
    flex: 1 1 0;
    height: $footer-height;

    ul {
        list-style: none;
        height: 100%;
        padding-left: $nav-padding;
        padding-right: $nav-padding;
        margin: 0;
        text-align: center;
        display: flex;
        align-items: center;
    }

    li {
        margin-bottom: 0.2em;
        flex: 1 1 auto;
    }

    li:first-child {
        text-align: left;
    }

    li:last-child {
        text-align: right;
    }
}

#img-nwi {
    width: 75%;
}
