$base-size:         16px;
//  width    px
//  1280     17
//   400     14
$outside-padding:   3vw;
$nav-padding:       5vw;
$nav-gap:           5vh;
$nav-height:        3*$nav-gap;
$nav-top-height:    2*$nav-gap;
$nav-bottom-height: 1.5*$nav-gap;
$min-width:         300px;
$footer-height:      2*$nav-gap;
$footer-height-bump: 3*$nav-gap;


* {
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
}

html {
    font-size: $base-size;
}

body {
    margin: 0;
    //font-size: $base-size;
    //font-size: 2.5vh;
    font-size: calc(100% + 2*(100vw - 400px)/880);
}

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

//need to rectify the following header font sizes
h1 {
    font-size: 3.375em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-weight: 400;
    font-size: 1em;
}

.gap {
    width: 100%;
}

.nav-spacer-top {
    height: $nav-height;
}
//
// .nav-spacer-bottom {
//     display: none;
//     height: $nav-bottom-height;
// }

.content-wrapper {
    display: flex;
    flex-direction: row;
}

.background {
    /*position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateZ(0px);*/

    .content-wrapper {
        margin-left: $outside-padding;
        margin-right: $outside-padding;
        height: 100vh - $nav-height;
    }

}

.snap {
    scroll-snap-align: start;
}

.placeholder {
    flex-grow: 0;
}

.content {
    flex: 1 1 0;
    text-align: left;
    margin-left: $nav-padding - $outside-padding;
    margin-right: $outside-padding;
    overflow: hidden;

    h2 {
        text-transform: capitalize;
        margin-bottom: 0.25em;
    }

    h3 {
        margin-bottom: 0.25em;
    }

    h4 {
        margin-bottom: 0.25em;
        color: $col-anna;
    }

    p {
        margin-bottom: 0.75em;
    }
}

.placeholder + .content {
    margin-left: $outside-padding;
    margin-right: $nav-padding - $outside-padding;
}

.schedule {
    display: flex;
    margin-top: 1em;
    color: $col-anna;
    font-weight: 300;
}

.event-times {
    text-align: right;
    margin-right: 1em;
}

.resize-animation-stopper {
    transition-duration: 0s !important;
}

#content-when {
    font-size: 2em;

    .placeholder {
        width: 30%;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h2 {
        @extend .hand;
        @extend .scrawl-ccw;
        color: $col-anna;
        text-transform: none;
        margin: 0;
    }

    h3 {
        @extend .hand;
        @extend .scrawl-ccw;
        color: $col-anna;
        margin: 0;
    }

    h4 {
        @extend .hand;
        @extend .scrawl-ccw;
        color: $col-highlight;
        margin-top: 0.5em;
    }
}

#content-hotel {

    .content {
        padding-top: 1em;
    }

    .placeholder {
        width: 50%;
    }

    h2 {
        @extend .hand;
        color: $col-anna;
    }
}

#content-faq {

    .content {
        padding-top: 1em;
    }

    .placeholder {
        width: 30%;
    }

    h2 {
        @extend .hand;
        color: $col-anna;
    }
}

#content-footer {
    align-items: flex-end;
    margin-left: 0;
    margin-right: 0;

    ~.nav-spacer-bottom {
        background-color: $col-anna;
    }
}

#footer {
    flex: 1 1 0;
    height: $footer-height;

    ul {
        list-style: none;
        height: 100%;
        padding-left: $nav-padding;
        padding-right: $nav-padding;
        margin: 0;
        text-align: center;
        display: flex;
        align-items: center;
    }

    li {
        margin-bottom: 0.2em;
        flex: 1 1 auto;
    }

    li:first-child {
        text-align: left;
    }

    li:last-child {
        text-align: right;
    }
}

#img-nwi {
    width: 75%;
}
