$map-ctrl-width: 30px;
$map-ctrl-margin: 10px;
$map-ctrl-border: 2px;

#img-mapbox {
    background: none !important;
    border-radius: 0 !important;
}

.map {
    height: 100%;
    font-family: $f-header !important;
    font-weight: 200;
    border: 2px solid $col-highlight;
}

.marker {
  background-image: url('map-marker.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 30em !important;
  font-size: 2.5vh !important;
  color: $bg1;
  top: -55px;

  .mapboxgl-popup-content {
    text-align: center;
    background-color: $col-anna;
  }

  .mapboxgl-popup-tip {
      display: none;
  }
}

#nwi-map-nav {
    color: #000;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.map-link {
    background-color: $bg1;
	border: 2px solid $col-highlight;
    border-radius: 4px;
    flex: 0;

    cursor: pointer;
    font-weight: 300;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;

    overflow: hidden;

    h3 {
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
    }

    p {
        font-weight: 200;
    }

    h3, p {
        padding-left: 1em;
        padding-right: 1em;
    }
}

.map-link:not(.active):hover {
    background-color: #EEE;
}

.mapboxgl-ctrl-group:not(:empty) {
	-moz-box-shadow: 0 0 $map-ctrl-border $col-highlight;
	-webkit-box-shadow: 0 0 $map-ctrl-border $col-highlight;
	box-shadow: 0 0 0 $map-ctrl-border $col-highlight;
    width: $map-ctrl-width;
    margin: $map-ctrl-margin $map-ctrl-margin 0 0;
}

.active {
    background-color: $col-anna;
    color: $bg1;
}
