// We handle changing viewport here

#parallax-container, #navigation-bar, body, #rsvp-pane {
    min-width: 340px;
}

@media (max-width: 810px) and (min-height: 400px) {

    .placeholder {
        display: none;
    }

    .nav-spacer-top {
        height: $nav-top-height;
    }
    //
    // .nav-spacer-bottom {
    //     display: block;
    // }

    .background {

        .content-wrapper:not(#content-footer) {
            margin-bottom: $nav-bottom-height;
            height: 100vh - $nav-top-height - $nav-bottom-height;
        }

        #content-footer {
            height: 100vh - $nav-top-height;
        }

    }

    .foreground {

        .left, .right {
            display: none;
        }

        .center {
            padding: 0;
        }
    }

    .buffer {
        margin-top: $nav-top-height;
    }

    #buffer-overlay {
        height: $nav-top-height;
    }

    #img-202, #img-109 {
        height: 100vh - $nav-top-height;
    }

    #img-mapbox {
        //margin-top: 1px; // account for border overlap
        height: 100vh - $nav-top-height - $nav-bottom-height;
    }

    #img-57 {
        height: 100vh - $nav-top-height - $footer-height-bump - $nav-bottom-height;
    }

    #footer {
        height: $footer-height-bump;
        margin-bottom: $nav-bottom-height;

        ul {
            flex-direction: column;
            justify-content: center;
        }

        li {
            flex: 0;
            margin-top: 0.2em;
        }
    }

    // Navigation
    #navigation-bar {
        height: $nav-top-height;
    }

    #link-bar {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
        //border-top: 1px solid $col-highlight;//-diff;
        height: $nav-bottom-height;
        background-color: $col-anna;

        .link {
            flex: 1 1 auto;
            padding-left: 0.5em;
            padding-right: 0.5em;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 0.8em;
            color: $bg1;
        }

        img {
            display: block;
            //filter: invert(94%) sepia(0%) saturate(504%) hue-rotate(158deg) brightness(94%) contrast(96%);
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(41deg) brightness(109%) contrast(101%);
            height: 0.75*$nav-gap;
            cursor: pointer;
        }

        span {
            margin: 0;
        }

        .scroll-to span {
            border: none;
        }

        .scroll-to img {
            //filter: invert(29%) sepia(15%) saturate(3148%) hue-rotate(300deg) brightness(88%) contrast(88%);
            //filter: invert(78%) sepia(13%) saturate(761%) hue-rotate(314deg) brightness(93%) contrast(97%);
            filter: invert(82%) sepia(35%) saturate(608%) hue-rotate(339deg) brightness(104%) contrast(101%);
            //filter: invert(86%) sepia(9%) saturate(1657%) hue-rotate(109deg) brightness(85%) contrast(85%);
            //filter: invert(20%) sepia(95%) saturate(357%) hue-rotate(131deg) brightness(102%) contrast(91%);
        }
    }

    #rsvp-button {
        position: fixed;
        top: 0;
        right: $outside-padding;
        height: $nav-top-height;
        display: flex;
        align-items: center;
    }

    #rsvp-pane {
        width: 100vw;
        padding-top: $nav-top-height;
        padding-left: 2*$outside-padding;
        padding-right: 2*$outside-padding;
    }

    .submit-button {
        left: 2*$outside-padding;
        height: $nav-top-height;
    }

    .close-button {
        right: 2*$outside-padding;
        height: $nav-top-height;
    }

    .slide {
        left: -100vw !important;
    }

    .slide-pane {
        left: 0 !important;
    }

    // Map
    .map {
        border-right: none;
        border-left: none;
        border-top: 2px solid $col-highlight;
        border-bottom: 2px solid $col-highlight;
    }

    #nwi-map-nav {
        color: #000;
        position: absolute;
        top: 0;
        left: 0;
        margin: 10px 0 0 10px;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        width: calc(100vw - 60px);
    }

    .map-link {
        flex: 1 1 auto;
    }

    .map-link:first-child{
        border-radius: 4px 0 0 4px;
        border-right-width: 1px;
    }

    .map-link:last-child{
        border-radius: 0 4px 4px 0;
        border-left-width: 1px;
    }

    .active {
        border-color: rgba(0, 0, 0, 0.1);
        background-clip: border-box;
    }

}

@media (max-width: 625px) { //First date/time squeeze point
    #content-when {

        em {
            display: block;
            text-align: center;
            line-height: 1.25em;
        }

        em:nth-child(3) {
            font-size: 2em;
            margin-bottom: -0.2em;
        }

        h2, h3, h4 {
            transform: none;
        }

        h3 {
            margin-top: 0.5em;
        }

        .break {
            display: none;
        }
    }
}

@media (max-width: 485px) { //Map-link squeeze
    .map-link p {
        font-size: 0.8em;
    }
}

@media (max-width: 400px) { //Second date/time squeeze and faq overflow
    #content-when {
        font-size: 1.75em;
    }
    .map-link p {
        font-size: 0.7em; // Good till w: 355px
    }
    #content-faq {
        font-size: 0.95em;
    }
}
