$pane-width: 50vw;

#navigation-bar {
    //mix-blend-mode: exclusion;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding-left: $nav-padding;
    padding-right: $nav-padding;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: $nav-height;
    user-select: none;


}

#title {
    text-align: left;
    text-transform: uppercase;
    font-weight: 200;
}

#subtitle {
    margin-left: 0.35em;
}

#link-bar {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    span {
        position: relative;
        text-transform: capitalize;
        font-weight: 300;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: border-color .5s;
        cursor: pointer;
    }

    .link {
        margin-right: 1.5em;
    }

    img {
        display: none;
    }
}

// #link-bar-background {
//     display: none;
//     position: fixed;
//     bottom: 0;
//     width: 100%;
//     height: $nav-bottom-height;
//     background-color: $bg1;
// }

.overlay {
    position: fixed;
}

.slider {
    transition: left .5s;
}

.slide {
    left: -$pane-width !important;
}

.slide-pane {
    left: 100vw - $pane-width !important;
}

.scroll-to span {
    color: $col-highlight;//-diff;
    border-bottom: 1px solid $col-highlight;//-diff;
}

.highlight {
    background-color: $col-highlight;//-diff;
}
