$bg1:               #fff;
$bg2:               #222;

$col-text:          #222;
$col-anna:          #92374d;
$col-maid1:         #eaadad;
$col-dan:           #00a676;
$col-highlight:     #ffd780;
$col-stroke:        $bg1;

$col-text-diff:     #ddd;
$col-anna-diff:     #6dc8b1;
$col-maid1-diff:    #155252;
$col-dan-diff:      #ff5989;
$col-high-diff:     #00287f;

$col-maid2:         #b78278;

$f-header: 'Work Sans', sans-serif;

$f-hand: 'Satisfy', cursive;
// 'Caveat', cursive;
// 'Satisfy', cursive;
// 'Dancing Script', cursive;
// 'Great Vibes', cursive;

body {
    font-family: $f-header;
    font-weight: 200;
    color: $col-text;
    background-color: $col-anna;
}

h1, h2, h3, h4, b {
    font-weight: inherit;
}

h2, h3, h4 {
    font-family: $f-header;
    font-weight: 300;
}

em {
    font-weight: 400;
    font-style: normal;
}

#navigation-bar {
    color: $col-text;//-diff;

    #link-rsvp {
        border-radius: 0.2em;
        height: 2em;
        padding-left: 1em;
        padding-right: 1em;
        border: 1px solid $col-highlight;//-diff;
        transition: background-color 0.3s;
    }

    #link-rsvp:hover {
        background-color: $col-highlight;//-diff;
    }

    .rolled-over {
        color: $bg1;
        background-color: $col-anna;//-diff;
    }
}

#parallax-container {
    background-color: $col-anna;
}

#footer {
    color: $bg1;
    background-color: $col-anna;
}

#content-footer {
    background: linear-gradient($bg1, $col-anna 50%);
}

.background {
    background-color: $bg1;

    em {
        color: $col-anna;
    }

    a, a:visited, a:hover, a:active {
        font-weight: 400;
        text-decoration: none;
        color: $col-highlight;
        border-bottom: 1px solid $col-highlight;
    }
}

.foreground-image:not(#img-text) {
    background: repeating-linear-gradient(
        45deg,
        $col-highlight,
        $col-highlight 10px,
        $bg1 10px,
        $bg1 20px
        );
}

.hand {
    font-family: $f-hand;
}

.scrawl-cw {
    position: relative;
    display: inline-block;
    transform-origin: bottom right;
    transform: rotate(3deg);
}

.scrawl-ccw {
    position: relative;
    display: inline-block;
    transform-origin: bottom left;
    transform: rotate(-3deg);
}

.bg1 {
    background-color: $bg1;
}

.bridesmaid {
    color: $col-maid1;
}

.dan {
    color: $col-dan;
}

.anna {
    color: $col-anna;
}

.gold {
    color: $col-highlight;
}

.stroke {
    color: $col-stroke;
    -webkit-text-fill-color: $col-stroke;
    -webkit-text-stroke-width: 8px;
    -webkit-text-stroke-color: $col-stroke;
}

.fill {
    position: absolute;
    left: 0;
    top: 0;
}
