$bg1:               #fff;

$col-text:          #222;
$col-anna:          #92374d;
$col-maid1:         #eaadad;
$col-dan:           #00a676;
$col-highlight:     #ffd780;

$col-text-diff:     #ddd;
$col-anna-diff:     #6dc8b1;
$col-maid1-diff:    #155252;
$col-dan-diff:      #ff5989;
$col-high-diff:     rgb(0, 40, 127);

$col-maid2:         #b78278;

$f-header: 'Work Sans', sans-serif;

$f-hand: 'Satisfy', cursive;
// 'Caveat', cursive;
// 'Satisfy', cursive;
// 'Dancing Script', cursive;
// 'Great Vibes', cursive;

body {
    font-family: $f-header;
    font-weight: 200;
    color: $col-text;
}

h1, h2, h3, h4 {
    font-weight: inherit;
}

h2, h3, h4 {
    font-family: $f-header;
    font-weight: 300;
}

em {
    font-weight: 300;
    font-style: normal;
}

#navigation-bar {
    color: $col-text-diff;

    #link-rsvp {
        border-radius: 0.2em;
        height: 2em;
        padding-left: 1em;
        padding-right: 1em;
        border: 1px solid $col-high-diff;
        transition: background-color 0.3s;
    }

    #link-rsvp:hover {
        background-color: $col-high-diff;
    }

    .rolled-over {
        color: #000;
        background-color: $col-anna-diff;
    }
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.foreground-image {
        background: #eaadad;
}

.hand {
    font-family: $f-hand;
}

.scrawl-cw {
    position: relative;
    display: inline-block;
    transform-origin: bottom right;
    transform: rotate(3deg);
}

.scrawl-ccw {
    position: relative;
    display: inline-block;
    transform-origin: bottom left;
    transform: rotate(-3deg);
}

.bg1 {
    background-color: $bg1;
}

.bridesmaid {
    color: $col-maid1;
}

.dan {
    color: $col-dan;
}

.anna {
    color: $col-anna;
}
