// We need to push each element down to its final position;
// if it is located 100vh below the element origin it needs
// to be moved slightly farther to account for the perspective!
// (114.3vh for translateZ(2px)). Additional height is added 1:1 once
// the element is scrolled into view.

.foreground {
    position: absolute;
    width: 100%;
    transform-origin: center 50vh;
    //transform-origin: bottom right; //this might fix the chrome over-scroll problem

    // img {
    //     position: absolute;
    // }
}

.depth-1 {
    transform: translateZ(1px) scale(0.875);
    z-index: 20;
}

.depth-2 {
    transform: translateZ(2px) scale(0.75);
}

.depth-3 {
    transform: translateZ(3px) scale(0.625);
}

.depth-4 {
    transform: translateZ(4px) scale(0.5);
    z-index: 10;
}

.foreground-image {
    position: relative;
    border-radius: 0.5em;
    overflow: hidden;
    background-clip: content-box;

    img {
        object-fit: cover;
    //  flex: 0;
    //  bottom: 0;
    //  left: 50%;
    //  transform-origin: bottom center;
    }
}

.foreground-image:not(#img-mapbox) {
    //display: flex;
}

%foreground-layout {
    padding-left: $outside-padding;
    padding-right: $outside-padding;
}

.left {
    @extend %foreground-layout;
    justify-content: flex-start;
}

.center {
    @extend %foreground-layout;
    justify-content: center;
}

.right {
    @extend %foreground-layout;
    justify-content: flex-end;
}

.buffer {
    margin-top: $nav-height;
}

// #buffer-overlay {
//     height: $nav-height;
//     padding-left: $nav-padding;
//     font-size: 2em;
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;
//
//     span:first-of-type {
//         visibility: hidden;
//         margin-right: 0.5em;
//         text-transform: uppercase;
//     }
//
//     span:last-of-type {
//         margin-bottom: -0.2em;
//     }
// }

// #buffer-text {
//     height: $nav-gap/2;
// }

#buffer-202 {

}

#buffer-146 {
    height: 133.3321vh; //depth 2
}

#buffer-mapbox {
    height: 2*114.3vh; //depth 1
}

#buffer-125 {
    height: 3*160vh; // depth 3
}

#buffer-109 {
    height: 4*133.3321vh;
}

#buffer-22 {
    height: 5*160vh;
}

#buffer-57 {
    height: 6*133.3321vh;
}

#img-text {
    font-size: 4em;
    overflow: visible;
    text-align: center;
}

#img-202 {
    height: 100vh - $nav-height + 5vh;
    width: 100%;
    //justify-content: center;

    img {
        //transform: translate(-50.5%, 5%) scale(0.25);
        width: 100%;
        height: 100%;
        //margin-right: 10%;
    }
}

#img-146 {
    height: 100vh - $nav-height - $nav-gap;
    width: 30%;

    img {
        //transform: translate(-50.5%, 3.4%) scale(0.16);
        width: 100%;
        height: 100%;
    }
}

#img-mapbox {
    height: 100vh - $nav-height - $nav-gap;
    width: 100%;
}

#img-125 {
    height: 100vh - $nav-height - $nav-gap;
    width: 50%;

    img {
        //transform: translate(-49.5%, 0%) scale(0.16);
        width: 100%;
        height: 100%;
    }
}

#img-109 {
    height: 100vh - $nav-height + 5vh;
    width: 100%;

    img {
        //transform: translate(-50%, 0%) scale(0.24);
        width: 100%;
        height: 100%;
    }
}

#img-22 {
    height: 100vh - $nav-height - $nav-gap;
    width: 30%;

    img {
        //transform: translate(-50%, 0%) scale(0.12);
        width: 100%;
        height: 100%;
    }
}

#img-57 {
    height: 100vh - $nav-height - $footer-height;
    width: 100%;
    border-radius: 0.5em 0.5em 0 0;

    img {
        // transform: translate(-50%, 3%) scale(0.235);
        width: 100%;
        height: 100%;
    }
}
